@import './variables';
@import './mixins';

.footerContainer {
  @include flex(row, center, center, wrap);
  background-color: $bgColor;
  min-height: 10vh;
  font-size: large;

  .title {
    color: $textColor;
    text-align: center;
  }
}
